.userTable {
    width: 60%;
    background-color: #fff;
    box-shadow: 0 -6px 24px 0 #00000017;
    border-radius: 8px;
    margin: 50px auto;
    padding: 50px;
    min-height: 150px;
}

.addButton {
    text-decoration: none;
    background-color: #0a3ac2;
    color: #fff;
    box-shadow: 0 -6px 24px 0 #00000017;
    font-weight: 500;
    padding: 10px;
    border-radius: 5px;
}

table {
    width: 100%;
    margin-top: 30px;
    border-collapse: collapse;
    border-radius: 8px;
    // border: 1px solid #e6e6e6;

    thead {
        th {
            background-color: #0a3ac2;
            padding: 8px;
            color: #fff;
        }
    }

    tbody {
        border-collapse: collapse;
        position: relative;

        .no_data_found {
            color: #0a3ac2;
            font-weight: 500;
            position: absolute;
            padding: 30px 0;
            text-align: center;
            width: 99.7%;
            border: 0 solid #090909;
            border-width: 0px 1px 1px 1px;
        }

        td {
            padding: 8px;
            word-break: break-all;
            text-align: center;

            &.actionButtons {
                text-align: center;

                a,
                span {
                    display: inline;
                    border: 0;
                    outline: none;
                    // background: red;
                    // padding: 8px 10px;
                    color: red;
                    border-radius: 5px;
                    cursor: pointer;
                }

                a {
                    color: green;
                    text-decoration: none;
                    margin-left: 10px;
                }
            }
        }


    }
}